<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338110400267-vvaaoapdgoi1egpp5q8m149okil0h66l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338110400267-vvaaoapdgoi1egpp5q8m149okil0h66l</string>
	<key>API_KEY</key>
	<string>AIzaSyBi8Gjw3QtbdgydL7SKlmuN-4d07MQuBKg</string>
	<key>GCM_SENDER_ID</key>
	<string>338110400267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maclean.levin.iosFaceId</string>
	<key>PROJECT_ID</key>
	<string>iosfaceid</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfaceid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338110400267:ios:0cac8d67514a675618040e</string>
</dict>
</plist>